.left-aside {
	background: #ffffff;
	box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.09);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	& > * + * {
		margin-top: 5px;
	}
	@media (min-width: $mobileSmall) {
		flex-direction: row;
		& > * + * {
			margin-top: 0;
			margin-left: 5px;
		}
	}
	@media (min-width: $mobile) {
		padding: 15px;
	}
	@media (min-width: $tablet) {
		flex-direction: column;
		width: rem(329);

		& > * + * {
			margin-top: 15px;
			margin-left: 0;
		}
	}
	/* .left-aside__banner */
	&__banner {
		width: 100%;
		display: block;
		img {
			max-width: 100%;
			width: 100%;
		}
	}
}
