// Со старой вёрстки

.search__hint {
	background-color: #fff;
	border: 2px solid #4e4dc2;
	border-bottom-right-radius: 10px;
	width: 320px;
	position: absolute;
	top: 50px;
	left: 0;
	z-index: 2000;
}
.search__hint-results {
	list-style: none;
	padding: 0;
	margin: 0;
}
.search__hint-item {
	display: flex;
}
.search__hint-item-image {
	width: 50%;
	height: auto;
	display: block;
}
.search__hint-item-link {
	width: 50%;
	display: block;
	padding: 5px;
}

// Главный баннер сверху

.topbanner {
	display: none;
	@media (min-width: $mobile) {
		display: block;
		padding-top: 10px;
		width: 100%;
		img {
			width: 100%;
		}
	}
}


// Дискус

.news__block-comment{
	border-top: 10px solid #f4f4f4;
	@include adaptiveValue("border-width", 10, 5);
}
