//====================================================================================================

.footer {
	position: relative;
	z-index: 5;
	padding: 30px;
	font-size: 12px;
	line-height: 13px;
	color: #8c8b8b;
	background-color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	transform: translateZ(0);
	& > * + * {
		margin-top: rem(20);
	}
	@media (min-width: $tablet) {
		flex-direction: row;
		& > * + * {
			margin-top: 0;
			margin-left: 40px;
		}
	}
}

.footer__social-wrap {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.footer__social-item {
	display: block;
}

.footer__social-item + .footer__social-item {
	margin-left: 21px;
}

.footer__social-item:hover .icon-social_footer {
	fill: #7c7cd5;
}

.icon-social_footer {
	fill: #4e4dc2;
	transition: fill 0.3s;
}

.footer__copyright-wrap {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	line-height: 20px;
	margin-top: 10px;
}

.footer__copyright {
	color: #000;
	font-size: 12px;
	line-height: 20px;
}

.footer__copyright span {
	display: none;
}

.footer__copyright-rights {
	font-size: 12px;
	line-height: 20px;
	color: #8c8b8b;
	@media (min-width: $mobileSmall) {
		white-space: nowrap;
		margin-right: 6px;
	}
}

.footer__copyright-link_wrap {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
}

.footer__copyright-link {
	color: #4e4dc2;
	margin-right: 10px;
	transition: color 0.3s;
}

.footer__copyright-link:hover {
	color: #7c7cd5;
}

.footer__copyright-rss {
	color: #fff;
	padding: 0 6px;
	background-color: #4e4dc2;
	font-size: 10px;
	line-height: 14px;
	transition: background-color 0.3s;
}

.footer__copyright-rss:hover {
	background-color: #7c7cd5;
}

.footer__title {
	color: #000;
	font-size: 12px;
	line-height: 20px;
}

.footer__text {
	margin-top: 22px;
	font-size: 12px;
	line-height: 20px;
}

.footer__block-1 {
	min-width: 290px;
	order: 0;
	flex-direction: column;
	display: flex;
	& > * + * {
		margin-top: 20px;
	}
}

.footer__block-2 {
	max-width: 500px;
	order: 1;
}

.footer__block-3 {
	max-width: 500px;
	order: 2;
}

.footer__block-4 {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	min-width: 196px;
	width: 196px;
	order: 3;
}

.footer__counters-item {
	width: 88px;
	display: block;
	margin-right: 0;
}

.footer__counters-item img {
	width: 100%;
}

.footer__counters-item:nth-child(3),
.footer__counters-item:nth-child(4) {
	margin-top: 20px;
}

@media (max-width: 675px) {
	.footer__text {
		margin-top: 10px;
	}

	.footer__block-2 {
		width: 100%;
		max-width: 96%;
	}

	.footer__block-3 {
		width: 100%;
		max-width: 100%;
		margin-top: 20px;
	}
}

@media (max-width: 919px) {
	.footer__social-wrap {
		order: 0;
	}

	.footer__copyright-wrap {
		width: 100%;
		display: block;
	}

	.footer__copyright {
		margin-left: 0;
		display: inline;
	}

	.footer__copyright-rights {
		margin-left: 0;
		display: inline;
	}

	.footer__copyright-link_wrap {
		margin-left: 0;
	}
}

@media (max-width: $tablet) {
	.footer__copyright-wrap {
		flex-direction: row;
		align-items: center;
	}

	.footer__copyright span {
		display: inline;
	}

	.footer__block-1 {
		margin-top: 25px;
		width: 100%;
		min-width: 100%;
	}

	.footer__block-2 {
		margin-left: 0;
	}

	.footer__block-3 {
		max-width: 250px;
	}
}

@media (max-width: 1149px) {
	.footer__block-4 {
		flex-direction: column;
		min-width: 88px;
		width: 88px;
	}
}

@media (max-width: 1154px) {
	.footer__block-2 {
		max-width: 270px;
	}

	.footer__counters-item:nth-child(2) {
		margin-top: 20px;
	}
}

@media (max-width: 1299px) {
	.footer__block-2 {
		max-width: 280px;
	}

	.footer__block-3 {
		max-width: 250px;
	}
}

//====================================================================================================
