html {
	height: 100%;
}

body {
	background-color: #f4f4f4;
	height: 100%;
	// @media (min-width: $mobile) {
	// 	background: url('@img/Branding.png') no-repeat center 60px;
	// 	background-color: #000;
	// 	background-attachment: fixed;
	// 	-webkit-font-smoothing: antialiased;
	// }
}

.aside__wrap--left {
	display: none;
	grid-area: left;
	@media (min-width: $pc) {
		display: block;
	}
}

.aside__wrap--right {
	grid-area: right;
}

.page__wrapper {
	position: relative;
	z-index: 5;
	padding-top: 0;
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
	margin: 0 auto;
	margin-top: 55px;
	@media (min-width: $mobile) {
		// margin-top: 310px;
		margin-top: 60px;
	}
}

.page__content {
	display: grid;
	grid-template-areas: 'center' 'right' 'left';
	align-items: flex-start;
	width: 100%;
	@include adaptiveValue('padding-top', 10, 5);
	@include adaptiveValue('padding-bottom', 10, 5);
	padding-left: 0;
	padding-right: 0;
	margin-left: auto;
	margin-right: auto;
	background-color: #f4f4f4;
	position: relative;
	z-index: 5;
	gap: 10px;
	justify-content: space-between;
	@media (min-width: $tablet) {
		grid-template-areas: 'center right';
	}
	@media (min-width:$pc){
		 grid-template-areas: 'left center right'; 
	}
}

.aside__wrap {
	position: sticky;
	width: 100%;
	@media (min-width: $tablet) {
		width: rem(329);
	}
}

.content {
	flex: 1 1 auto;
	grid-area: center;
}

.red {
	background: #d34007;
}

.blue {
	background: #4e4dc2;
}

.content {
	width: 100%;
}

@media (max-width: $pc) {
	.content {
		order: 0;
	}
}

@media (max-width: $mobile) {
	.header {
		height: 50px;
	}

	.header_nav_wrap {
		padding: 13px;
	}

	.menu__item,
	.menu__item-all {
		margin: 10px 0;
		height: calc(100% - 20px);
	}

	.header__menu-btn_wrap.active .header__menu-btn_container {
		transform: translateX(0) translateY(0);
	}

	.header__menu-btn_container {
		right: -60px;
		left: auto;
		transform: translateX(0) translateY(15px);
	}

	.header__btn-login {
		width: 50px;
		height: 50px;
	}

	.header__social-wrap {
		display: none;
	}

	.header__search-open {
		top: 5px;
		transition: opacity 0;
	}

	.header__search-container {
		width: 100%;
		height: 50px;
		left: 0;
		z-index: 100;
		transition: opacity 0;
	}

	.header__search-btn {
		top: 16px;
	}

	.header__search-close {
		top: 15px;
	}

	.footer {
		padding: 25px;
	}

	.footer__block-4 {
		order: 5;
		flex-direction: row;
		min-width: 196px;
		width: 196px;
		margin-left: 0;
		margin-top: 25px;
		justify-content: space-between;
	}

	.footer__counters-item:nth-child(2) {
		margin-top: 0;
	}
}

@media (max-width: 620px) {
	.menu__item {
		display: none;
	}

	.menu__item-all {
		display: flex;
	}
}
